
$primary: #722c29;

$gray-10: #ccc;
$gray-25: #eee;
$gray-75: #3E3E3E;
$gray-90: #222;

$border-radius: .3rem;
$border-standard: 1px solid $gray-75;

$gutter: 40px;

* {
	box-sizing: border-box;
}

h1 {
	font-weight: 300;
	font-size: 3rem;
	padding-bottom: .66rem;
	border-bottom: $border-standard;
}

.App {
	color: $gray-10;
	padding-left: 230px;
	background-color: $gray-90;
	min-height: 100vh;
}

.App-Home {
	img {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		object-fit: cover;
		width: 100%;
		height: 100%;
		opacity: .5;
		filter: grayscale(0%) hue-rotate(15deg);
	}
}

.App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}

.App-content {
	padding: 1.5rem 2rem;

	> *:first-child {
		padding-top: 0;
		margin-top: 0;
	}
}

.Menu {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	background: $gray-75;
	width: 230px;
	padding-top: 2rem;
	z-index: 10;

	ul {
		padding: 0;
		list-style: none;
	}

    li {
      display: block;
      padding: .333rem 1rem;
    }

	a {
		color: #fff6;
		text-decoration: none;
		border-radius: $border-radius;
		background: transparent;
		display: block;
		padding: 1rem;
		transition: .3s ease color;
		font-weight: 300;
		font-size: 1rem;

		&:hover {
			background-color: #ffffff09;
			color: #fff;
		}

		i {
			margin-right: .666rem;
		}

		&.active {
			background-color: $primary;
			color: #fff;
		}
	}
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	margin: -#{$gutter / 2};
}

.Card {
	border: $border-standard;
	border-radius: $border-radius;
	background: darken($gray-75, 4%);
	min-height: 80px;
	width: calc(50% - #{$gutter});
	flex: 0 0 calc(50% - #{$gutter});
	margin: #{$gutter / 2};
	padding: 1.5rem;
	display: flex;
	flex-wrap: wrap;

	.Card-icon {
		font-size: 2rem;
		width: 2rem;
		text-align: center;
		margin-right: 1rem;
		flex: 0 0 2rem;
	}

	.Card-title {
		padding: .5rem 0;
		font-size: 1.4rem;
		font-weight: 300;
		line-height: 1;
		flex: 0 0 calc(100% - 3rem);
	}

	.Card-content {
		flex: 0 0 100%;
		max-width: 100%;
		padding: 1rem 0;
	}
}
